<form [formGroup]="productForm" (ngSubmit)="submitForm()">
  <div class="list-container">
    <mat-card appearance="outlined">
        <mat-card-content>
            <ul class="article-list header-list">
                <li *ngFor="let item of titleList">{{ item }}</li>
        </ul>
        </mat-card-content>
    </mat-card>

    <div formArrayName="items">
      <div
        *ngFor="let itemControl of formControls.controls; let i = index"
        [formGroupName]="i"
      >
        <mat-card *ngIf="articulos[i].deposito === showDeposit" appearance="outlined">
          <mat-card-content>
            <ul class="article-list">
              <li><mat-checkbox formControlName="checkbox"></mat-checkbox></li>
              <li>{{ articulos[i].codigo }}</li>
              <li>{{ articulos[i].descripcion }}</li>
              <li>{{ articulos[i].deposito }}</li>
              <li>{{ articulos[i].precio }}</li>
              <li>
                <select matNativeControl formControlName="dropdown">
                  <option value="">Seleccione un vendedor</option>
                  <option
                    *ngFor="let seller of sellersList"
                    [value]="seller.descripcion"
                  >
                    {{ seller.descripcion }}
                  </option>
                </select>
              </li>
            </ul>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

    <button class="btn" mat-raised-button color="primary" type="submit">
      ¡Guardar Pedido!
    </button>
  </div>
</form>
